<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TurntNinja.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TurntNinja.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="3.3.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="CSCore" publicKeyToken="5a08f2b6f4415dea" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="1.1.21.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="9.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
	<userSettings>
		<TurntNinja.Properties.Settings>
			<setting name="AudioCorrection" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="MaxAudioVolume" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ResolutionX" serializeAs="String">
				<value>1280</value>
			</setting>
			<setting name="ResolutionY" serializeAs="String">
				<value>720</value>
			</setting>
			<setting name="AntiAliasingSamples" serializeAs="String">
				<value>4</value>
			</setting>
			<setting name="VSync" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="WindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="OnsetActivationThreshold" serializeAs="String">
				<value>9</value>
			</setting>
			<setting name="OnsetAdaptiveWhitening" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MaxRecentSongCount" serializeAs="String">
				<value>50</value>
			</setting>
			<setting name="DifficultyLevel" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="OnsetOnline" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="OnsetSlicePaddingLength" serializeAs="String">
				<value>0.2</value>
			</setting>
			<setting name="OnsetSliceLength" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="Debug" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="UpgradeRequired" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DatabaseFile" serializeAs="String">
				<value>turnt-ninja.db</value>
			</setting>
			<setting name="PlayerName" serializeAs="String">
				<value>opcon</value>
			</setting>
			<setting name="UserID" serializeAs="String">
				<value />
			</setting>
			<setting name="Analytics" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FirstRun" serializeAs="String">
				<value>True</value>
			</setting>
		</TurntNinja.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<TurntNinja.Properties.Settings>
			<setting name="FileFilter" serializeAs="String">
				<value>.mp3,.flac,.wav,.m4a,.wma</value>
			</setting>
			<setting name="AppDataFolderName" serializeAs="String">
				<value>turnt-ninja</value>
			</setting>
			<setting name="Piwik" serializeAs="String">
				<value>oeoywrZVrjYlcctPZZ3uTXFPp9ItVUkR3w28u+WDdd9SqYzE1PRkb+WPZsYQ+VvOfUjFQOlQ1tXc7oDXY4Km7A==</value>
			</setting>
			<setting name="Sentry" serializeAs="String">
				<value>jA9OAo1hWfHPOoMipHAAaFxFf2N7iP8zuBEI9LVQq5ET0vc8yqnLsO/oNMqCcki0rvD4CQrkMz7fWHQ4rWuHAyRfY+7nxGinxdbgIaceyVtKOJLsSnbBh4/NBq3OkBIAFG2GTxUhWqyJbxNhgzbu+0HM8jv43LY53bxhwIALt+A=</value>
			</setting>
		</TurntNinja.Properties.Settings>
	</applicationSettings>
</configuration>

