<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeatDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeatDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BeatDetection.Properties.Settings>
      <setting name="AudioCorrection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxAudioVolume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ResolutionX" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="ResolutionY" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="AntiAliasingSamples" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="VSync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SonicAnnotatorPath" serializeAs="String">
        <value>../../External Programs/sonic-annotator-1.0-win32/sonic-annotator.exe</value>
      </setting>
      <setting name="PluginPath" serializeAs="String">
        <value>../../External Programs/Vamp Plugins</value>
      </setting>
    </BeatDetection.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BeatDetection.Properties.Settings>
      <setting name="FileFilter" serializeAs="String">
        <value>.mp3,.flac,.wav,.m4a,.wma</value>
      </setting>
      <setting name="TempFolderName" serializeAs="String">
        <value>turnt-ninja</value>
      </setting>
    </BeatDetection.Properties.Settings>
  </applicationSettings>
</configuration>
