<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorMine" version="1.1.3.0" targetFramework="net45" />
  <package id="CSCore" version="1.1-alpha1" targetFramework="net45" />
  <package id="HUSL" version="1.0.1" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net45" />
</packages>