<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.6.3421" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="ILNumerics" version="3.3.3.0" targetFramework="net45" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net45" />
  <package id="NAudio" version="1.7.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net45" />
  <package id="VDS.Common" version="1.3.0" targetFramework="net45" />
</packages>