<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="QuickFont AppVeyor" value="https://ci.appveyor.com/nuget/quickfont-m6wdxb2yf1v5" />
    <add key="Onset Detection AppVeyor" value="https://ci.appveyor.com/nuget/onset-detection-ce96cu4ph0k5" />
    <add key="Gwen.NET AppVeyor" value="https://ci.appveyor.com/nuget/gwen-nolegacy-opentk-renderer-y8bf4l8s9nxo" />
  </packageSources>
</configuration>